@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.appContainer {
  /* min-height: auto; */
  width: 100%;
  display: flex;
  flex-direction: column;
}

.componentContainer {
  max-width: 1280px;
  margin: 0 auto;
}

@keyframes growCircle {
  to {
    transform: scale(100);
  }
}
